<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries> <!-- Specific apps you interact with -->
        <package android:name="com.whatsapp" /> <!-- we have to mention here otherwise it will not show package name from android 11 downwards:this is use to share on whatsapp -->
    </queries> <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS"/> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- **********88Removed android.permission.ACCESS_NETWORK_STATE: Starting with Android 6.0 (API level 23), your app no longer needs to declare ACCESS_NETWORK_STATE permission to use the Connectivity Manager. The system automatically grants this permission at runtime.TO USE connectivity manager this permission required -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- to record audio -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- true means camera permission required and false means this permission is optional -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" /> <!-- true means camera permission required and false means this permission is optional -->
    <uses-permission android:name="android.permission.SEND_SMS"/> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> this permission not required when minsdk is 29 and above -->
    <!--We also have calling feature but we don't require permission because We are using Intent.ACTION_DIAL to open the phone app for dialing instead of directly making calls. This approach doesn't require the CALL_PHONE permission -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- .if sdkVersion is 32 or below than grant this permission permission to read external storage or else this permission ignore.for accessing camera image from gallery this permission required from below sdkVersion 32 -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" android:minSdkVersion="33"/> &lt;!&ndash;if sdkVersion is 33 or above than grant this permission&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" android:minSdkVersion="33"/>&lt;!&ndash;if sdkVersion is 33 or above than this permission  required -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ACBook">
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManualBackupActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activity.SignInWithGoogleActivity" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.SignInActivityLandingPage"
            android:exported="true"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".HistoryActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activity.BackupCalculatedInvoicesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" /> <!-- when activity start keyboard will open -->
        <activity
            android:name=".activity.DepositAmountActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" /> <!-- when activity start keyboard will open -->
        <activity
            android:name=".activity.IndividualPersonDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- to unable service -->
        <activity
            android:name=".activity.PdfViewerOperationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" /> <!-- when activity start keyboard will open -->
        <activity
            android:name=".activity.FindActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" /> <!-- when activity start keyboard will open -->
        <activity
            android:name=".activity.NavigationActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".activity.NavigationActivity" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="portrait"/> -->
        <activity
            android:name=".activity.RegisterPersonDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name="com.theartofdev.edmodo.cropper.CropImageActivity" -->
        <!-- android:theme="@style/Base.Theme.AppCompat" /> &lt;!&ndash; provider is compulsory when targetSdk version 24 or greater &ndash;&gt; -->
        <!-- This configuration enables you to share files within your app's storage with other apps in a secure manner. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>